<div th:fragment="script">
    <!-- 脚本 -->
	<script src="/demo/static/jquery.min.js"></script>
	<script src="/demo/static/bootstrap.js"></script>
	<script src="/demo/static/bootstrap-datetimepicker.min.js"></script>
	<script src="/demo/static/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="/demo/static/base.js"></script>
	<script src="/demo/static/sea.min.js"></script>
	<script src="/demo/static/select2.min.js"></script>
	<script th:inline="javascript">
		var BASE_USER_LANGUAGE = 'zh_cn';
	    seajs.config({
	        base: "/",
	    });
	    seajs.use('/zh_cn');
	</script>
	<!-- /脚本 -->
</div>