<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>test</title>
</head>


<link rel="stylesheet" media="all" href="/demo/static/bootstrap.css" />
<link rel="stylesheet" media="all" href="/demo/static/bootstrap-datetimepicker.css" />


<body>

<div class="form-item">
    <div class="col-sm-4 text-right">
        <label class="f-title">出生日期</label>
    </div>
    <div class="col-sm-8 text-left">
        <div class="m-date-picker">
            <input id="birthday" name="birthday" type="text" placeholder="出生日期" readonly="readonly" />
            <i></i>
        </div>
    </div>
</div>

<script src="/demo/static/jquery.min.js"></script>
	<script src="/demo/static/bootstrap.js"></script>
	<script src="/demo/static/bootstrap-datetimepicker.min.js"></script>
	<script src="/demo/static/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="/demo/static/base.js"></script>
	<script src="/demo/static/sea.min.js"></script>
	<script src="/demo/static/select2.min.js"></script>
</body>
</html>